<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobdeve.s12.avila.tiu.littlechef">

    <application
        android:allowBackup="true"
        android:icon="@drawable/littlechef_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittleChef">
        <activity
            android:name=".BookmarksActivity"
            android:exported="false" />
        <activity
            android:name=".MainDetailActivity"
            android:exported="true" />
        <activity
            android:name=".NotesAddActivity"
            android:exported="true" />
        <activity
            android:name=".NotesActivity"
            android:exported="true" />
        <activity
            android:name=".RecipeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacebookActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>